body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: hsl(230, 63%, 87%);
}
.card{
    font-family: 'Outfit', sans-serif;
    margin:100px;   
    border: 1px solid white; 
    border-radius: 20px;
    padding: 15px;
    background-color: aliceblue;
}

img{
    border-radius: 20px;
    height: 250px;
    width: 250px;
}